version: "3"
services:
  %%URL%%:
    container_name: %%COMPOSE_CONTAINER%%
    hostname: %%URL%%
    image: unlikelysource/%%COMPOSE_CONTAINER%%
    volumes:
     - ".:/repo"
    ports:
     - "8888:80"
    build: .
    restart: always
    networks:
      app_net:
        ipv4_address: %%IP_ADDR%%
networks:
  app_net:
    ipam:
      driver: default
      config:
        - subnet: "%%IP_SUBNET_MASK%%"
