                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="form-group">
                            <label class="h6 small d-block text-uppercase">
                                Your name
                                <span class="text-danger">*</span>
                            </label>

                            <div class="input-group">
                                <input class="form-control" name="name" id="name" required="" placeholder="John Doe" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End Input -->

                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="form-group">
                            <label class="h6 small d-block text-uppercase">
                                Your email address
                                <span class="text-danger">*</span>
                            </label>

                            <div class="input-group ">
                                <input class="form-control" name="email" id="email" required="" placeholder="john@gmail.com" type="email">
                            </div>
                        </div>
                    </div>
                    <!-- End Input -->

                    <div class="w-100"></div>

                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="form-group">
                            <label class="h6 small d-block text-uppercase">
                                Subject
                                <span class="text-danger">*</span>
                            </label>

                            <div class="input-group">
                                <input class="form-control" name="subject" id="subject" required="" placeholder="Website Quote" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End Input -->

                    <!-- Input -->
                    <div class="col-sm-6 mb-6">
                        <div class="form-group">
                            <label class="h6 small d-block text-uppercase">
                                Your Phone Number
                                <span class="text-danger">*</span>
                            </label>

                            <div class="input-group ">
                                <input class="form-control" id="phone" name="phone" required="" placeholder="+1-800-643-4500" type="text">
                            </div>
                        </div>
                    </div>
                    <!-- End Input -->
                </div>

                <!-- Input -->
                <div class="form-group mb-5">
                    <label class="h6 small d-block text-uppercase">
                        How can we help you?
                        <span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                        <textarea class="form-control" rows="4" name="message" id="message" required="" placeholder="Hello, I would like to ..."></textarea>
                    </div>
                </div>
                <!-- End Input -->

