            <p>
            <a href="/super/choose" style="color:white;">Back</a>
            &nbsp;<a href="/super/edit" style="color:white;">Edit</a>
            &nbsp;<a href="/super/import" style="color:white;">Import</a>
            &nbsp;<a href="/super/transform" style="color:white;">Transform</a>
            &nbsp;<a href="/super/logout" style="color:white;">Logout</a>
            <!-- &nbsp;<form method="post" enctype="multipart/form-data" action="/super/quick_upload"><input type="file" name="upload" placeholder="Quick Image Upload" /><input type="submit" name="upload_img" value="Upload Image"></form> -->
            </p>
