            <style>
            .super_menu {
                text-align:center;
                width:100px;
                float:left;
                margin:10px;
                font-weight:700;
                background-color:#57B5F1;
                border: thin solid black;
            }
            .super_href {
                color:white;
            }
            </style>
            <p>
            <div class="super_menu"><a href="/super/choose" class="super_href">Back</a></div>
            <div class="super_menu"><a href="/super/choose" class="super_href">Edit</a></div>
            <div class="super_menu"><a href="/super/import" class="super_href">Import</a></div>
            <div class="super_menu"><a href="/super/transform" class="super_href">Transform</a></div>
            <div class="super_menu"><a href="/super/clicks" class="super_href">Clicks</a></div>
            <div class="super_menu"><a href="/super/logout" class="super_href">Logout</a></div>
            <!-- <div class="super_menu"><form method="post" enctype="multipart/form-data" action="/super/quick_upload"><input type="file" name="upload" placeholder="Quick Image Upload" /><input type="submit" name="upload_img" value="Upload Image"></form></div> -->
            </p>
